<%# locals: (documento:) -%>

<div id="<%= dom_id(documento, :tags) %>" class="card__tags">
  <% if documento.pagamento_applicabile? && documento.tipo_pagamento.present? %>
    <span class="card__tag btn btn--plain txt-uppercase fill-transparent">
      <%= documento.tipo_pagamento.titleize %>
    </span>
  <% end %>
</div>
