<div id="<%= dom_id user_scuola %>" class="flex flex-row">
  <p class="my-5">
    <%= user_scuola.import_scuola_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_scuola.user_id %>
  </p>

</div>
