<%= turbo_frame_tag :user_scuole do %>
  <div class="p-4">
    <h1 class="text-xl font-bold mb-4">Le mie scuole</h1>
    
    <div id="user-scuole" data-controller="tax-sortable" data-tax-sortable-group-value="user-scuole">
      <%= render partial: "user_scuole/user_scuola", collection: @user_scuole, as: :user_scuola %>
    </div>
  </div>
<% end %>
