<%= turbo_frame_tag :user_scuole do %>

        <div class="py-2">
            <div class="flex justify-between border-b-2 border-gray-300">
                <h2 class="font-semibold">La mie SCUOLE </h2>
                <%= tag.div id:"#{dom_id(current_user)}-user-scuole" do %>
                    <%= current_user.import_scuole.count %>
                <% end %>    
            </div>
            <div class="w-full">
              <div class="min-w-full">
                <%= render @user_scuole %>
              </div>
            </div>
        </div>


<% end %>
