<%# locals: (documenti:) -%>

<% causali_successive_ids = documenti.map { |d| d.causale&.causali_successive }.compact.flatten.uniq %>
<% if causali_successive_ids.any? %>
  <% causali_successive = Causale.where(id: causali_successive_ids).or(Causale.where(causale: causali_successive_ids)) %>
  <% if causali_successive.any? %>
    <section class="padding-block-start">
      <h4 class="divider gap txt-medium txt-subtle margin-block-end-half">Registra come</h4>
      <div class="flex flex-wrap gap-half justify-center">
        <% causali_successive.each do |causale| %>
          <%= button_to documenti_bulk_derivazioni_path,
                method: :post,
                class: "btn",
                style: "--btn-background: #{causale_color(causale)}; --btn-border-color: #{causale_color(causale)};",
                params: { causale_id: causale.id, ids: documenti.map(&:id) },
                form: { data: { turbo_frame: "_top" } } do %>
            <%= causale.causale %>
          <% end %>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>
