<% @page_title = "Modifica #{@categoria.nome_categoria}" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to @categoria.nome_categoria, categoria_path(@categoria) %>
  </div>

  <h1 class="header__title"><%= @page_title %></h1>

  <div class="header__actions header__actions--end"></div>
<% end %>

<section class="panel panel--small shadow center">
  <%= render "form", categoria: @categoria %>
</section>
