<%# locals: (documento:) -%>

<%= link_to documento_path(documento, format: :pdf), class: "btn", target: "_blank", data: { controller: "tooltip", tooltip_content_value: "PDF" } do %>
  <%= icon_tag "printer" %>
  <span class="for-screen-reader">Stampa</span>
<% end %>

<% if %w[TD01 TD04 TD24].include?(documento.causale&.causale) %>
  <%= link_to esporta_xml_documento_path(documento, format: :xml), class: "btn btn--circle", data: { controller: "tooltip", tooltip_content_value: "Esporta XML" } do %>
    <span class="txt-xx-small font-weight-bold" aria-hidden="true">XML</span>
    <span class="for-screen-reader">Esporta XML</span>
  <% end %>
<% end %>
