<%# locals: (documento:) -%>

<% collegabili = documento.documenti_collegabili %>
<% if collegabili.any? %>
  <div class="cards cards--grid cards--in-context cards--collegabili">
    <h3 class="txt-small txt-subtle txt-uppercase margin-block-end-half">Documenti collegabili</h3>

    <div class="cards__list">
      <% collegabili.each do |doc| %>
        <div class="cards--collegabili__item">
          <%= render "documenti/documento", documento: doc %>
          <%= button_to documento_collegamento_path(documento, figlio_id: doc.id),
                method: :post,
                form_class: "cards--collegabili__action",
                class: "btn btn--small btn--circle btn--positive",
                data: { controller: "tooltip", tooltip_content_value: "Collega" } do %>
            <%= icon_tag "add" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
