<li class="list-style-none margin-none flex align-center gap full-width" style="border-block-end: 1px solid var(--color-ink-lighter); padding-block: 0.5rem;">
  <div class="flex flex-column min-width align-start" style="flex: 1;">
    <%= link_to "BV-#{bolla.numero}", bolla_visione_path(bolla), class: "txt-small font-weight-black" %>
    <span class="txt-x-small txt-subtle">
      <%= bolla.collana.nome %> · <%= l(bolla.data_bolla, format: :short) %>
    </span>
  </div>
  <% aperte = @ritiro.copie_aperte_per_bolla[bolla.id].to_i %>
  <% if aperte.positive? %>
    <span class="txt-x-small txt-subtle flex-item-no-shrink">
      <%= pluralize(aperte, "copia aperta", plural: "copie aperte") %>
    </span>
  <% end %>
</li>
