<div class="container pad-block">
  <div class="margin-block-end">
    <h1 class="txt-x-large font-weight-black">Modifica Dati Aziendali</h1>
    <p class="txt-small txt-subtle margin-block-start-half">Aggiorna i dati fiscali e bancari della tua azienda.</p>
  </div>

  <%= render "form", azienda: @azienda %>
</div>
