<div class="container pad-block">
  <div class="flex f-align-center f-justify-space-between margin-block-end">
    <h1 class="txt-x-large font-weight-black">Dati Aziendali</h1>
    <%= link_to "Modifica", edit_azienda_path, class: "btn btn--primary" %>
  </div>

  <% if @azienda.nil? %>
    <div class="panel pad fill-highlight border-radius">
      <p>Nessun dato aziendale configurato.</p>
      <%= link_to "Configura ora", new_azienda_path, class: "txt-link" %>
    </div>
  <% else %>
    <%= render "show", azienda: @azienda %>
  <% end %>
</div>
