<%= link_to scuola_path(clientable.scuola),
        data: { turbo_frame: :_top },
        class: "card__title-link" do %>
    <%= tag.h3 clientable.denominazione, class: "card__title overflow-line-clamp" %>
    <span class="card__subtitle"><%= clientable.comune&.upcase %></span>
<% end %>
