<% @page_title = "Controlla la tua email" %>

<div class="panel panel--centered flex flex-column gap-half">
  <header>
    <h1 class="txt-x-large font-weight-black margin-none"><%= @page_title %></h1>
    <p class="margin-none-block-start txt-medium">
      Ti abbiamo inviato un link di accesso via email.
    </p>
  </header>

  <p class="txt-small">Il link scade tra 15 minuti.</p>

  <div class="margin-block-start">
    <%= link_to "Torna al login", new_magic_link_path, class: "txt-link" %>
  </div>
</div>

<% if Rails.env.development? %>
  <div class="flex align-center justify-center gap fill-shade border-radius pad margin-block-start full-width position-relative" style="animation: slide-up-fade-in 400ms ease-out both; max-width: 42ch; overflow: hidden;">
    <span class="txt-uppercase translucent txt-tight-lines">Dev:</span>
    <%= link_to "Apri Letter Opener", "/letter_opener", target: "_blank", class: "txt-link" %>
    <span class="txt-xx-small txt-uppercase font-weight-black txt-align-center flex align-center justify-center" style="position: absolute; top: 0; bottom: 0; left: 0; background: var(--color-ink-lighter); padding: 0 0.5em; writing-mode: vertical-rl; transform: rotate(180deg); line-height: 1;">DEV</span>
  </div>
<% end %>

<% content_for :footer do %>
  <div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
    Hai bisogno di aiuto? <%= mail_to "support@scagnozz.com", "Contattaci", class: "txt-link" %>
  </div>
<% end %>
