<% @page_title = "Modifica dati aziendali" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "azienda", accounts_azienda_path %>
  </div>
<% end %>

<div class="center">
  <%= render "form", azienda: @azienda %>
</div>

