<% @page_title = "Modifica libro" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "a #{@libro.titolo}", @libro, "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Modifica libro</span>
  </h1>
<% end %>

<div class="panel shadow pad">
  <%= render "form", libro: @libro %>
</div>
