<%= render "shared/turbo_dialog" do %>
	<div data-action="turbo:submit-end->old-dialog#submitEnd">
		
		<h2 class="font-bold text-2xl">Nuovo libro</h2>
		<%= render "form", libro: @libro %>
		
	</div>
<% end %>