<% @page_title = "Nuovo libro" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Libri", libri_path %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Nuovo libro</span>
  </h1>
<% end %>

<article class="panel panel--wide shadow center txt-align-start">
  <%= render "form", libro: @libro %>
</article>
