<% @page_title = @libro.titolo %>
<% @header_class = "header--card" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Libri", path: libri_path } %>
    <%= back_link_to info[:label], info[:path] %>
  </div>

  <div class="header__actions header__actions--end">
  </div>
<% end %>

<div class="full-width card-grid pad group show-navigator">
  <%= render "libri/container/container", libro: @libro, giacenza: @giacenza, adozioni: @adozioni %>
</div>
