<%# locals: (classe:, scuola:) -%>

<!-- Entries attive -->
<%= turbo_frame_tag "classe_entries", src: scuola_classe_entries_path(scuola, classe), loading: :lazy, style: "display: block; min-height: 60px;" do %>
  <h3 class="divider divider--fade txt-medium font-weight-black">Aperti</h3>
  <p class="txt-small txt-subtle margin-none">Caricamento...</p>
<% end %>

<!-- Entries completate -->
<%= turbo_frame_tag "closed_entries", src: scuola_classe_closed_entries_path(scuola, classe), loading: :lazy, style: "display: block; min-height: 1px;" do %>
  <p class="txt-small txt-subtle margin-none"></p>
<% end %>
