<%# locals: (libro:) -%>

<div class="data-row__cell data-row__cell--end data-row__cell--hide-mobile">
  <% if libro.confezioni_count.positive? %>
    <span class="badge badge--blue"><%= libro.confezioni_count %></span>
  <% else %>
    <span class="data-row__muted">—</span>
  <% end %>
</div>
