<%# locals: (libro:) -%>

<div class="data-row__cell data-row__cell--hide-mobile">
  <%= image_tag libro_copertina_path(libro, v: libro.updated_at.to_i), alt: libro.titolo, class: "data-row__thumb", loading: "lazy" %>
</div>
