<% @page_title = "#{@persona.nome_completo} — #{@scuola.denominazione}" %>
<% @header_class = "header--card" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to_url @scuola.denominazione.capitalize, scuola_path(@scuola) %>
  </div>
<% end %>

<div class="full-width pad group">
  <%= render "scuole/persone/container", persona: @persona, scuola: @scuola, appunti: @appunti %>
</div>
