<%= turbo_frame_tag :zone_list do %>

    <div class="sticky  not-hotwire-native:top-16 hotwire-native:top-0  p-2 bg-gray-100 flex items-center justify-between border-b-2 border-gray-300">
        <h2 class="font-semibold">Le mie ZONE </h2>
        <div id="nr-zone" class="text-sm font-semibold pr-4">
            <%= @account_zone.size %>
        </div>
    </div>

    <%= render partial: "accounts/zone/zone_list", locals: { account_zone: @account_zone } %>

<% end %>
