<%# locals: (scuola:) -%>

<%= turbo_frame_tag "scuola_adozioni", src: scuola_adozioni_path(scuola, scope: "mie"), loading: :lazy, style: "display: block; min-height: 4rem;" do %>
  <section class="group">
    <h3 class="divider divider--fade divider--card txt-medium font-weight-black margin-block-end">Adozioni</h3>
    <p class="txt-small txt-subtle margin-none">Caricamento...</p>
  </section>
<% end %>
