<%# locals: (scuola:) -%>

<section class="group">
  <% classi_attive = scuola.classi.attive %>
  <% if classi_attive.any? %>
    <%
      classi_grouped = classi_attive.order(:anno_corso, :sezione).group_by(&:combinazione)
      anni = classi_attive.pluck(:anno_corso).uniq.sort
      anni_labels = { "1" => "I", "2" => "II", "3" => "III", "4" => "IV", "5" => "V" }
    %>

    <div class="pad-half fill-shade border-block border-radius margin-block-end-double">
      <table class="classi__table txt-xx-small full-width">
        <thead>
          <tr>
            <th></th>
            <% anni.each do |anno| %>
              <th class="txt-align-center"><%= anni_labels[anno.to_s] || anno %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% classi_grouped.each do |combinazione, classi_comb| %>
            <% classi_by_anno = classi_comb.group_by(&:anno_corso) %>
            <tr>
              <td class="classi__combinazione txt-align-end pad-inline-end"><%= combinazione.presence || "—" %></td>
              <% anni.each do |anno| %>
                <td class="txt-align-left pad-inline">
                  <% (classi_by_anno[anno] || []).each do |classe| %>
                    <%= link_to classe.sezione.presence || "•",
                        scuola_classe_path(scuola, classe),
                        class: "classi__sezione-link txt-undecorated txt-small font-weight-bold",
                        data: { turbo_frame: :_top } %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>
