<%# locals: (scuola:) -%>

<div class="settings margin-block-start-half">
  <!-- Colonna sinistra -->
  <div class="settings__panel">
    <%= render "scuole/container/details", scuola: scuola %>
    <%#= render "scuole/container/classi", scuola: scuola, classi: @classi %>
  </div>

  <!-- Colonna destra -->
  <div class="settings__panel">
    <%= render "scuole/container/stats", scuola: scuola %>
    <%= render "scuole/container/actions", scuola: scuola %>
  </div>
</div>
