<%# locals: (scuola:) -%>

<%= link_to edit_scuola_path(scuola), class: "btn",
    data: { turbo_method: :get, turbo_stream: true,
            controller: "hotkey", action: "keydown.e@document->hotkey#click" } do %>
  Modifica <kbd class="hide-on-touch">E</kbd>
<% end %>

<%= new_appunto_link(scuola) %>

<%= link_to go_to_tappable_path(@scuola, current_user.effective_navigator),
    target: "_blank", class: "btn",
    style: "background-color: oklch(var(--lch-red-dark)); border-color: oklch(var(--lch-red-dark)); color: var(--color-ink-inverted);",
    data: { controller: "tooltip", turbo: false } do %>
  <%= icon_tag "marker" %>
  <span class="for-screen-reader">Naviga verso...</span>
<% end %>
