<% @page_title = @scontabile ? "Nuovo sconto per #{@scontabile.respond_to?(:denominazione) ? @scontabile.denominazione : @scontabile}" : "Nuovo sconto" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Sconti", @scontabile ? polymorphic_path([ @scontabile, :sconti ]) : sconti_path %>
  </div>

  <h1 class="header__title"><%= @page_title %></h1>

  <div class="header__actions header__actions--end"></div>
<% end %>

<section class="panel shadow center">
  <p class="txt-subtle txt-small margin-block-end">
    <% if @scontabile.is_a?(Cliente) %>
      Crea uno sconto di vendita per questo cliente
    <% elsif @scontabile.is_a?(Editore) %>
      Crea uno sconto di acquisto per questo editore
    <% elsif @scontabile.is_a?(Scuola) %>
      Crea uno sconto di vendita per questa scuola
    <% else %>
      Crea uno sconto globale, per tipologia o per una singola entità
    <% end %>
  </p>

  <%= render "form", sconto: @sconto %>
</section>
