<%= turbo_frame_tag "wizard_scuole" do %>
  <div data-controller="scuole-tree">
    <div class="wizard__panel-header">
      <h3 class="wizard__heading">
        Scuole
        <span class="badge" data-scuole-tree-target="count"><%= @conteggio %></span>
      </h3>
      <p class="wizard__subheading">Seleziona le scuole da includere nel giro</p>
    </div>

    <div class="wizard__tree">
      <%= render "giri/scuole_tree",
          gerarchia: @gerarchia,
          scuole_scartate: @scuole_scartate,
          initial_checked: true %>
    </div>
  </div>
<% end %>
