<div id="avatar_display" class="flex flex-col items-center space-y-4">
  <%= render "users/avatars/avatar_badge", user: user, size: :xlarge %>

  <% if user.avatar.attached? %>
    <p class="text-sm text-gray-500">
      <%= user.avatar.filename %>
      <span class="text-gray-400">(<%= number_to_human_size(user.avatar.byte_size) %>)</span>
    </p>
  <% else %>
    <p class="text-sm text-gray-500">Nessun avatar caricato</p>
  <% end %>
</div>
