<%# locals: (appunto:) -%>

<%= button_tag class: "btn btn--positive", type: :submit, form: "new_appunto_form" do %>
  <%= icon_tag "check" %>
  <span>Crea</span>
<% end %>

<%= link_to appunti_path, class: "btn btn--reversed" do %>
  <span>Annulla</span>
<% end %>
