<%= render SlideOverComponent.new(slide_over_max_width: "max-w-sm") do |slide_over| %>
    <% slide_over.with_close_button %>
    <% slide_over.with_leader do %>
        <div class="px-4 py-5 bg-gray-50">
            <h2 class="pr-6 text-lg font-semibold text-gray-800">
                Filtra Appunti
            </h2>
            <p class="mt-1.5 text-sm text-gray-500">
                Imposta i filtri che vuoi e premi Filtra o Reset per azzerare la ricerca.
            </p>
        </div>
    <% end %>
        
    <%= tag.div class: "px-4" do %>
        <%= render "filter_form" %>
    <% end %>


<% end %>