<%= render SlideOverComponent.new(slide_over_max_width: "max-w-sm") do |slide_over| %>
    <% slide_over.with_close_button(css: "absolute top-6 right-6 txt-ink cursor-pointer") %>
    <% slide_over.with_leader do %>
        <div class="pad fill-shade margin-block-end">
            <h2 class="txt-medium font-weight-bold" style="padding-right: 1.5rem;">
                Filtra appunti
            </h2>
            <p class="margin-block-start-half txt-small txt-subtle">
                Imposta i filtri che vuoi e premi Filtra o Reset per azzerare la ricerca.
            </p>
        </div>
    <% end %>
    <% slide_over.with_trailer do %>
        <div class="flex align-center justify-end full-width pad" style="position: fixed; bottom: 0; max-width: 24rem; background: rgba(255,255,255,0.9); backdrop-filter: blur(4px); border-top: 1px solid var(--color-ink-lighter);">
            <%# When using a "submit" type/method, the Slide Over hides using `turbo:submit-end->dialog#hideOnSubmit` %>
            <%= button_tag "Chiudi", type: :button, method: :get, data: { action: "dialog#hide" }, class: "btn" %>
        </div>
    <% end %>
    <%= tag.div class: "pad" do %>
        <%= render "filter_form" %>
    <% end %>

<% end %>
