<header class="mb-2 flex justify-between items-center">	
	<div class="py-2">
		<h2 class="font-bold text-4xl">Appunti</h2>
	</div>

	<div class="py-2">
		<%= link_to("< indietro", :back, class:"btn btn-blue") %>
	</div>
</header>


<%= turbo_frame_tag "search_results" do %>
	<div class="-mx-4 mt-8 flow-root sm:mx-0">
    	<%= render @appunti %>
	</div>
<% end %>


