<% unless hotwire_native_app? %>
    <%= render "shared/turbo_dialog" do %>
        <div data-action="turbo:submit-end->old-dialog#submitEnd" class="full-width">
            <h2 class="font-weight-bold txt-x-large">Crea Appunto</h2>
            <%= render "form", appunto: @appunto %>
        </div>
    <% end %>
<% else %>
    <% content_for :title, "Crea Appunto" %>
    <div class="pad">
        <%= render "form", appunto: @appunto %>
    </div>
<% end %>
