<%= render "shared/turbo_dialog" do %>
    <div data-action="turbo:submit-end->dialog#submitEnd">

        <h2 class="font-bold text-2xl">Nuovo appunto</h1>
        <%= render "form", appunto: @appunto %>
        
    </div>
<% end %>
