<% @page_title = "Nuovo appunto" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Appunti", appunti_path, "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Nuovo appunto</span>
  </h1>
<% end %>

<div class="panel shadow pad">
  <%= render "form", appunto: @appunto %>
</div>
