<% @page_title = @appunto.nome.presence || "Appunto" %>
<% @header_class = "header--card" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Appunti", path: appunti_path } %>
    <%= back_link_to info[:label], info[:path] %>
  </div>
<% end %>

<%= turbo_stream_from @appunto.entry if @appunto.entry %>

<div class="full-width pad group">
  <%= render "appunti/container", appunto: @appunto %>
</div>
