<div id="members-panel" class="settings__user-">
  <ul class="settings__user-" style="max-width: 36rem; margin-inline: auto;">
    <% members.each do |membership| %>
      <%= render "account_members/member", membership: membership %>
    <% end %>
  </ul>
</div>
