<%= turbo_frame_tag :combo_classi do %>
    <div class="my-5  youtubes">
        <%#= form.label :classe_ids, "Classi", class: "label" %>
        <%= combobox_tag "adozione[classe_ids]", scuola.classi.classe_che_adotta, multiselect_chip_src: new_classe_chip_path, placeholder: "seleziona classi..." %>
    </div>
<% end %>