<%= turbo_frame_tag :mandati_list do %>

    <div class="sticky not-hotwire-native:top-16 hotwire-native:top-0 p-2 bg-gray-100 flex items-center justify-between border-b-2 border-gray-300">
        <h2 class="font-semibold">I miei EDITORI </h2>
        <div id="nr-editori" class="text-sm font-semibold pr-4">
            <%= @mandati.size %>
        </div>
    </div>

    <div id="account-editori" class="">
        <p class="only:block hidden py-8 px-4 text-center">
            Whoops! Non ci sono editori.
        </p>
        <% @mandati.each do |mandato| %>
            <%= render partial: "accounts/mandati/mandato", locals: { mandato: mandato } %>
        <% end %>
    </div>

<% end %>
