<% @page_title = "Modifica #{@causale.causale}" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to @causale.causale, causale_path(@causale) %>
  </div>

  <h1 class="header__title"><%= @page_title %></h1>

  <div class="header__actions header__actions--end"></div>
<% end %>

<section class="panel panel--wide shadow center">
  <%= render "form", causale: @causale %>
</section>
