<% @page_title = "Causali" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start"></div>

  <h1 class="header__title"><%= @page_title %></h1>

  <div class="header__actions header__actions--end">
    <%= link_to new_causale_path, class: "btn btn--primary" do %>
      <%= icon_tag "add", size: "small" %>
      <span>Nuova</span>
    <% end %>
  </div>
<% end %>

<section class="panel panel--wide shadow center">
  <% if @causali.any? %>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Causale</th>
            <th>Contesto</th>
            <th>Magazzino</th>
            <th>Tipo</th>
            <th>Direzione</th>
            <th>Destinatari</th>
            <th class="txt-end">Priorità</th>
            <th>Successive</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @causali.each do |causale| %>
            <%= render causale %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p class="txt-subtle txt-small pad">Nessuna causale configurata.</p>
  <% end %>
</section>
