



<h1>
	<%= pluralize(@users.count, "utente", "utenti") %> 
</h1>

<ul>
	<% @users.each do |user| %>
		<li>
			<%= link_to user.name, user %>
			creato:
			<%= time_ago_in_words(user.created_at) %> fà.
			<%= link_to "modifica", edit_user_path(user) %>
		</li>
	<% end %>
</ul>