<div class="flex flex-col space-y-6 mt-10">
    <% 10.times do %>
        <div class="animate-pulse flex space-x-4">
            <%# <!-- Avatar -->
            <div class="rounded-full bg-gray-300 h-12 w-12"></div> %>

            <!-- Details -->
            <div class="flex-1 space-y-4 py-1">
                <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                <div class="space-y-2">
                    <div class="h-4 bg-gray-300 rounded"></div>
                    <div class="h-4 bg-gray-300 rounded w-5/6"></div>
                </div>
            </div>
        </div>
    <% end %>
</div>  
