<%= turbo_frame_tag :modal do %>
  <div data-controller="dialog"
       data-dialog-modal-value="true"
       data-dialog-auto-open-value="true">
    <dialog class="dialog panel" style="--panel-size: 40ch;"
            data-dialog-target="dialog"
            data-action="turbo:submit-end->dialog#close keydown.esc->dialog#close:stop">
      <%= yield %>
    </dialog>
  </div>
<% end %>
