<%# locals: (scuola:) -%>

<div class="card__meta" id="<%= dom_id(scuola, :meta) %>">  
  <div class="card__meta-avatars card__meta-avatars--author">
    <%#= avatar_tag card.creator, tabindex: (local_assigns.key?(:preview) && local_assigns[:preview]) ? -1 : 0 %>
  </div>

  <span class="card__meta-text card__meta-text--added">
    <% if scuola.import_scuola&.DENOMINAZIONEISTITUTORIFERIMENTO.present? %>
      <span class="txt-subtle">Istituto Riferimento:</span>
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--author">    
    <% if scuola.import_scuola&.DENOMINAZIONEISTITUTORIFERIMENTO.present? %>
      <span><%= scuola.import_scuola.DENOMINAZIONEISTITUTORIFERIMENTO.titleize %></span>
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    <% if scuola.classi.any? %>
      <span class="txt-positive"><strong><%= scuola.classi.count %></strong> classi</span>
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--copie txt-align-end">


    <div class="flex gap-quarter" style="color: var(--color-warning);">
      <% if scuola.priorita.to_i.positive? %>
        <% scuola.priorita.times do %>
          <%= icon_tag "star", size: "small" %>
        <% end %>
      <% else %>
        <span class="txt-small txt-subtle">—</span>
      <% end %>
    </div>
  </span>

  <span class="card__meta-text card__meta-text--importo txt-align-end">
    12 MIE ADOZIONI
  </span>
</div>
