<%# locals: (scuola:) -%>

<div class="card__meta" id="<%= dom_id(scuola, :meta) %>">  

  <% if scuola.direzione.present? %>
    <span class="card__meta-text card__meta-text--added">
      <span>dipende da:</span>
    </span>

    <span class="card__meta-text card__meta-text--author">
      <span><%= scuola.direzione.denominazione.titleize %></span>
    </span>
  <% end %>

  <span class="card__meta-text card__meta-text--updated">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--assignees">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--copie txt-align-end">
    <% if scuola.classi.size > 0 %>
      <strong><%= scuola.classi.size %></strong> classi
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--importo txt-align-end">
    <% mie_count = scuola.classi.flat_map(&:adozioni).count { |a| a.mia? && a.da_acquistare? } %>
    <% if mie_count > 0 %>
      <strong class="txt-positive"><%= pluralize(mie_count, "mia adozione", "mie adozioni") %></strong>
    <% else %>
      &nbsp;
    <% end %>
  </span>
</div>
