<%# locals: (scuola:) -%>

<div id="<%= dom_id(scuola, :tags) %>" class="card__tags">
  <% if scuola.area.present? %>
    <div class="min-width overflow-ellipsis">
      <%= link_to scuole_path,
            class: "card__tag btn btn--plain min-width txt-uppercase fill-transparent" do %>
        <% if scuola.respond_to?(:area) && scuola.area.present? %>
          <%= scuola.area.upcase %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
