<div class="bg-gray-800 rounded-t-lg py-2 ring-1 ring-gray-900">
	<div class="mx-auto max-w-7xl">
		<div class="grid grid-cols-4 gap-px bg-gray-900/50">

			<%= render StatComponent.new(
				current_value: @conteggio_adozioni,
				title: content_tag(:span, "Sezioni", class: "sm:hidden") + content_tag(:span, "Numero sezioni", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

			<%= render StatComponent.new(
				current_value: @conteggio_scuole,
				title: content_tag(:span, "Scuole", class: "sm:hidden") + content_tag(:span, "in quante scuole", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

			<%= render StatComponent.new(
				current_value: @conteggio_titoli,
				title: content_tag(:span, "Libri", class: "sm:hidden") + content_tag(:span, "con quanti libri", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

			<%= render StatComponent.new(
				current_value: @conteggio_editori,
				title: content_tag(:span, "Marchi", class: "sm:hidden") + content_tag(:span, "con quanti marchi", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

		</div>
	</div>
</div>
