<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @import_adozione %>

    <%= link_to "Edit this import_adozione", edit_import_adozione_path(@import_adozione), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this import_adozione", import_adozione_path(@import_adozione), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to import_adozioni", import_adozioni_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
