<%# locals: (appunti:) -%>

<% attivi = appunti.select { |a| a.entry.present? && a.entry.closure.nil? && a.entry.not_now.nil? } %>
<% if attivi.any? %>
  <h3 class="divider divider--fade txt-medium font-weight-black">Aperti (<%= attivi.size %>)</h3>
  <div class="cards cards--grid">
    <div class="cards__list">
      <% attivi.each do |appunto| %>
        <% if appunto.entry.present? %>
          <%= render "entries/entry", entry: appunto.entry, draggable: false %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
