<%= turbo_frame_tag :modal do %>
  <div data-controller="dialog"
       data-dialog-modal-value="true"
       data-dialog-auto-open-value="true">
    <dialog class="popup panel panel--small shadow"
            data-dialog-target="dialog"
            data-action="turbo:submit-end->dialog#close keydown.esc->dialog#close:stop">
      <h3 class="txt-large txt-bold">Modifica Giro</h3>
      <%= render "form", giro: @giro %>
    </dialog>
  </div>
<% end %>
