<% unless hotwire_native_app? %>
    <%= render "shared/turbo_dialog" do %>
        <div data-action="turbo:submit-end->old-dialog#submitEnd" class="w-full">
           <h2 class="font-bold text-2xl">Aggiorna giro</h2>
            <%= render "form", giro: @giro %>            
        </div>
    <% end %>
<% else %>
    <% content_for :title, "Aggiorna Giro" %>
    <div class="p-4">
        <%= render "form", giro: @giro %>
    </div>
<% end %>
