<% @page_title = "Giri" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start"></div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Giri</span>
  </h1>

  <div class="header__actions header__actions--end">
    <%= link_to new_giro_path,
        class: "btn btn--primary",
        data: hotwire_native_app? ? {} : { turbo_frame: :modal, action: "click->dialog#open" } do %>
      <%= icon_tag "add", size: "small" %>
      <span class="for-screen-reader">Nuovo Giro</span>
    <% end %>
  </div>
<% end %>

<%= turbo_stream_from current_user, "giri" %>

<div id="giri-lista" role="list" class="flex flex-column gap-half center" style="max-inline-size: min(72ch, 100%);">
  <% if @giri.empty? %>
    <p class="txt-subtle txt-center pad-block-double">Nessun giro organizzato</p>
  <% else %>
    <%= render @giri %>
  <% end %>
</div>
