<%= turbo_frame_tag :giro_tappe do %>

    <div class="py-2">
        <div class="w-full">
  <div id="tappe" class="min-w-full">
    <%= render @tappe %>
  </div>
        </div>
    </div>
    
<% end %>