<%# locals: (appunto:) -%>

<%= button_tag type: :submit, name: :publish, value: "1",
      form: dom_id(appunto, :edit_form), class: "btn btn--positive",
      data: { controller: "clicker", action: "keydown.ctrl+enter@document->clicker#click keydown.meta+enter@document->clicker#click" } do %>
  <%= icon_tag "check" %>
  <span>Crea Appunto</span>
<% end %>

<%= button_tag type: :submit, name: :publish_and_new, value: "1",
      form: dom_id(appunto, :edit_form), class: "btn" do %>
  <%= icon_tag "add" %>
  <span>Crea e creane un altro</span>
<% end %>
