<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New grado tipo scuola</h1>

  <%= render "form", grado_tipo_scuola: @grado_tipo_scuola %>

  <%= link_to "Back to grado tipo scuole", grado_tipo_scuole_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
