<%# locals: (scuola:) -%>

<div class="data-row__cell data-row__cell--end data-row__cell--hide-mobile">
  <% if scuola.mie_adozioni_count.positive? %>
    <strong><%= scuola.mie_adozioni_count %></strong>
  <% else %>
    <span class="data-row__muted">—</span>
  <% end %>
</div>
