<% @page_title = @propaganda ? @propaganda.nome : "Propaganda" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start"></div>
  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis"><%= @page_title %></span>
  </h1>
  <div class="header__actions header__actions--end"></div>
<% end %>

<%= render "filters/settings",
      filter_url: propaganda_index_path,
      filter_type: "propaganda_filter",
      user_filtering: @user_filtering,
      no_filtering_url: propaganda_index_path %>

<turbo-frame id="search_results">
  <% if @propaganda %>
    <div class="panel panel--wide center flex flex-column gap">
      <%= render "propaganda/riepilogo", riepilogo: @riepilogo %>

      <% @andamento.each do |cs| %>
        <%= render "propaganda/scuola", cs: cs %>
      <% end %>

      <% if @andamento.empty? %>
        <p class="txt-subtle txt-center pad-block-double">Nessuna scuola con bolle in visione.</p>
      <% end %>
    </div>
  <% else %>
    <p class="txt-subtle txt-center pad-block-double">
      Nessuna propaganda. Crea una Propaganda e assegnale i giri (es. Collane, Vacanze, Ritiri).
    </p>
  <% end %>
</turbo-frame>
