<% unless turbo_frame_request? %>
  <h2 class="txt-large font-weight-bold margin-block-end">Le mie bozze</h2>
<% end %>

<%= turbo_frame_tag "bozze" do %>
  <% @bozze.each do |bozza| %>
    <%= render "appunti/bozza", bozza: bozza %>
  <% end %>
<% end %>
