<%= turbo_frame_tag :mandati_list do %>
  <% if @mandati.any? %>
    <dl class="dl-grid">
      <% @mandati.each do |mandato| %>
        <div>
          <dt class="txt-small txt-subtle"><%= mandato.editore.gruppo %></dt>
          <dd class="txt-small"><%= mandato.editore.editore %></dd>
        </div>
      <% end %>
    </dl>
  <% else %>
    <p class="txt-small txt-subtle text-align-center padding-block">Nessun editore assegnato</p>
  <% end %>
<% end %>
