<%= turbo_frame_tag "appunti-content" do %>
  <div id="appunti-non-archiviati" role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-2 2xl:grid-cols-3 xl:gap-x-8">
    <p class="only:block hidden py-8 px-4 lg:col-span-2 2xl:col-span-3 text-center">Whoops! Non ci sono appunti in questa scuola</p>
    <%= render partial: "appunti/appunto", collection: @foglio_scuola.appunti_non_archiviati, locals: {mostra_scuola: false} %>
  </div>
<% end %>
