<div id="<%= dom_id import_scuola %>">
  <% if action_name != "show" %>
    <%= link_to "Show this import scuola", import_scuola, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this import scuola", edit_import_scuola_path(import_scuola), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
