<div class="bg-gray-800 rounded-t-lg py-2 ring-1 ring-gray-900">
	<div class="mx-auto max-w-7xl">
		<div class="grid grid-cols-4 gap-px bg-gray-900/50">

			<%= render StatComponent.new(
				current_value: stats.conteggio_scuole,
				title: content_tag(:span, "Scuole", class: "sm:hidden") + content_tag(:span, "Numero scuole", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

			<%= render StatComponent.new(
				current_value: stats.conteggio_classi,
				title: content_tag(:span, "Classi", class: "sm:hidden") + content_tag(:span, "con quante classi", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

			<%= render StatComponent.new(
				current_value: stats.conteggio_adozioni,
				title: content_tag(:span, "Adozioni", class: "sm:hidden") + content_tag(:span, "con quante adozioni", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

			<%= render StatComponent.new(
				current_value: stats.conteggio_marchi,
				title: content_tag(:span, "Editori", class: "sm:hidden") + content_tag(:span, "con quanti editori", class: "hidden sm:inline"),
				theme: "dark",
				width: "w-full"
			) %>

		</div>
	</div>
</div>

