<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing import scuola</h1>

  <%= render "form", import_scuola: @import_scuola %>

  <%= link_to "Show this import scuola", @import_scuola, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to import scuole", import_scuole_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
