<%# locals: (documento:, is_new: false) -%>

<button type="button"
        class="btn btn--positive"
        data-action="documento-editor#save">
  <%= icon_tag "check" %>
  <span>Salva</span>
</button>

<button type="button"
        class="btn btn--reversed"
        data-action="documento-editor#cancel">
  <span>Annulla</span>
</button>
