<%# locals: (documento:, is_new: false) -%>

<button type="button"
        class="btn btn--positive"
        data-controller="hotkey"
        data-action="documento-editor#save keydown.s@document->hotkey#click">
  Salva <kbd class="hide-on-touch">S</kbd>
</button>

<button type="button"
        class="btn btn--reversed"
        data-action="documento-editor#cancel">
  <span>Annulla</span>
</button>
