<% @page_title = "Modifica #{@documento.causale || 'Documento'} ##{@documento.numero_documento || 'BOZZA'}" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Documenti", path: documenti_path } %>
    <%= back_link_to info[:label], info[:path], "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Modifica <%= @documento.causale || "Documento" %></span>
    <span class="txt-small txt-subtle">nr <%= @documento.numero_documento || 'BOZZA' %></span>
  </h1>

  <div class="header__actions header__actions--end">
  </div>
<% end %>

<div class="full-width card-grid pad group show-navigator">
  <%= render "documenti/container", documento: @documento, editing: true %>
</div>
