<% @page_title = "#{@documento.causale || 'Documento'} ##{@documento.numero_documento || 'BOZZA'}" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Documenti", path: documenti_path } %>
    <%= back_link_to info[:label], info[:path], "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>

  <div class="header__actions header__actions--end">
  </div>
<% end %>

<div class="full-width card-grid pad group show-navigator">
  <%= render "documenti/container", documento: @documento %>
</div>
