<div class="divide-y divide-gray-200">
  <% results.each do |result| %>
    <div class="p-2 hover:bg-gray-50 cursor-pointer">
      <label class="flex items-center space-x-3">
        <input type="checkbox" 
               name="tappable_ids[]" 
               value="<%= result.id %>" 
               class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300">
        <span class="text-sm text-gray-900">
          <%= result.try(:to_combobox_display) || result.try(:nome) %>
        </span>
      </label>
    </div>
  <% end %>
</div> 