<%= turbo_stream.replace "account-editori" do %>
    <div id="account-editori">
    	<% @mandati.each do |mandato| %>
        	<%= render partial: "mandati/mandato", locals: { mandato: mandato } %>
    	<% end %>
	</div>
<% end %>
