<%# locals: (entries:) -%>

<% if entries.any? %>
  <div style="max-width: var(--comment-max, 65ch); width: 100%;"
       data-controller="bulk-actions">
    <%= render "documenti/bulk_bar/bar" %>

    <header class="flex align-center">
        <h1 class="header__title divider divider--fade full-width margin-block-end">Documenti attivi</h1>
    </header>

    <div class="cards flex flex-column gap-half"
         data-controller="navigable-list"
         data-navigable-list-auto-select-value="false"
         data-navigable-list-actionable-items-value="true"
         data-navigable-list-prevent-handled-keys-value="true"
         data-action="keydown->navigable-list#navigate">
      <% entries.each do |entry| %>
        <%= render "entries/entry", entry: entry, draggable: false %>
      <% end %>
    </div>
  </div>
<% end %>
