<%# locals: (libro:, giacenza:) -%>

<div class="data-row__cell data-row__cell--end data-row__cell--hide-mobile <%= 'txt-negative font-weight-black' if giacenza.fabbisogno.positive? %>"><%= dash_if_zero(giacenza.fabbisogno) %></div>
