<%# locals: (source:) -%>

<% return unless source.tappa_target %>

<% frame_id = "pianifica_#{source.class.name}_#{source.id}" %>

<div style="position: relative;"
     data-controller="dialog"
     data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside mouseenter->dialog#loadLazyFrames">
  <button type="button" class="btn btn--circle"
          data-controller="tooltip"
          data-action="dialog#toggle">
    <%= icon_tag "calendar-days" %>
    <span class="for-screen-reader">Pianifica visita</span>
  </button>
  <dialog class="popup panel flex-column align-start justify-start fill-white shadow txt-small" data-dialog-target="dialog">
    <%= turbo_frame_tag frame_id,
          src: pianifica_tappe_path(source_type: source.class.name, source_id: source.id),
          loading: :lazy %>
  </dialog>
</div>
