<%= render "shared/turbo_dialog" do %>
    <div data-action="turbo:submit-end->old-dialog#submitEnd" class="w-full">

        <h2 class="font-bold text-2xl">Nuova tappa</h2>
        <%= render "form", tappa: @tappa %>
        
    </div>
<% end %>
