<% @page_title = "Nuovo cliente" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Clienti", clienti_path %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Nuovo cliente</span>
  </h1>
<% end %>

<div class="panel shadow pad">
  <%= render "form", cliente: @cliente %>
</div>
