<% @page_title = "Modifica cliente" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "a #{@cliente.denominazione}", @cliente %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Modifica cliente</span>
  </h1>
<% end %>

<article class="center txt-align-start">
  <%= render "form", cliente: @cliente %>
</article>
