<% @page_title = @cliente.denominazione %>
<% @header_class = "header--card" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% info = referrer_back_info || { label: "Clienti", path: clienti_path } %>
    <%= back_link_to info[:label], info[:path], "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>

  <div class="header__actions header__actions--end">
  </div>
<% end %>

<div class="full-width card-grid pad group show-navigator">
  <%= render "clienti/container/container", cliente: @cliente, documenti: @documenti_recenti, sconti: @sconti_unici %>
</div>
