<%# locals: (classe:, scuola:) -%>

<div id="<%= dom_id(classe, :board) %>">
  <%= render "shared/cards/display/perma/board",
      id: classe.tipo_scuola,
      name: scuola.denominazione %>
</div>
