<% filter = user_filtering.filter %>

<% if user_filtering.expanded? %>
  <button type="button" class="btn txt-x-small btn--reversed" aria-selected="true" data-action="toggle-class#toggle toggle-enable#toggle" data-controller="tooltip">
    <%= icon_tag "filter" %>
    <span class="for-screen-reader">Chiudi filtri</span>
  </button>
<% else %>
  <button type="button" class="btn txt-x-small filter-toggle" data-action="toggle-class#toggle toggle-enable#toggle" data-controller="tooltip">
    <%= icon_tag "filter" %>
    <span class="filters__show-when-expanded for-screen-reader">Comprimi filtri</span>
    <span class="filters__show-when-collapsed for-screen-reader">Espandi filtri</span>
  </button>
<% end %>
