<div id="form_container" class="px-2 sm:px-0" data-controller="audio-recorder">
  <div class="flex flex-col items-center space-y-8">
    
    <%# Bottone Start %>
    <div class="flex items-center space-x-4" data-audio-recorder-target="startControl">
      <button type="button"
              class="w-32 h-32 flex flex-col items-center justify-center gap-y-3
        rounded-full shadow-lg cursor-pointer 
        transition-all duration-300 ease-in-out
        bg-green-600 text-white hover:bg-green-500 active:bg-green-700 
        hover:shadow-2xl hover:scale-110
        focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-green-500"
              data-action="audio-recorder#startRecording">
        <%= inline_svg_tag "icon-microphone.svg", class: "w-12 h-12" %>
        <span class="text-lg font-semibold">Registra</span>
      </button>
    </div>

    <%# Bottone Stop %>
    <div class="flex flex-col items-center space-y-4 hidden" data-audio-recorder-target="recordingControls">
      <button type="button"
              class="w-32 h-32 flex flex-col items-center justify-center gap-y-3
        rounded-full shadow-lg cursor-pointer 
        transition-all duration-300 ease-in-out
        bg-red-600 text-white hover:bg-red-500 active:bg-red-700 
        hover:shadow-2xl hover:scale-110
        focus:outline focus:outline-2 focus:outline-offset-2 focus:outline-red-500"
              data-action="audio-recorder#stopRecording">
        <%= inline_svg_tag "icon-stop.svg", class: "w-12 h-12" %>
        <span class="text-lg font-semibold">Ferma</span>
      </button>
      <p class="text-red-500 font-bold text-lg animate-pulse">Registrazione in corso...</p>
    </div>
  
  </div>
</div>