<div id="form_container" 
    data-controller="audio-recorder" 
	data-action="turbo:submit-end->audio-recorder#resetForm" 
	class="space-y-4 py-5">
  	
	<form action="<%= voice_notes_path %>" method="post" format="turbo-stream" enctype="multipart/form-data" class="space-y-4">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="flex items-center space-x-4" data-audio-recorder-target="startControl" >
      <!-- Pulsante per iniziare la registrazione -->
      <button type="button"
              class="px-4 py-2 bg-green-500 text-white font-bold rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-offset-2 transition disabled:opacity-50 disabled:cursor-not-allowed"
              data-action="audio-recorder#startRecording">
        Registra
      </button>
    </div>

    <div class="flex items-center space-x-4" data-audio-recorder-target="recordingControls" class="hidden">
      <!-- Pulsante per fermare la registrazione -->
      <button type="button"
              class="px-4 py-2 bg-red-500 text-white font-bold rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2 transition"
              data-action="audio-recorder#stopRecording">
        Ferma Registrazione
      </button>


      <!-- Indicatore di registrazione -->
      <p class="text-red-500 font-bold">
        Registrazione in corso...
      </p>
    </div>



    <!-- Pulsante per caricare -->
    <div class="flex items-center space-x-4" data-audio-recorder-target="uploadControls" class="hidden">
      
	  <button type="submit"
              class="px-4 py-2 bg-blue-500 text-white font-bold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2 transition">
        Salva
      </button>

      <!-- Player per l'audio -->
      <audio controls class="w-full"></audio>

      <!-- Campo nascosto per il file -->
      <input type="file" id="audioBlobInput" name="audio_file" class="hidden">

    </div>
  </form>
</div>