
<div data-controller="audio-recorder" >
  <%=  render "form" %>
</div>

<%= turbo_stream_from "voice_notes" %>

<div id="voice-notes-list" class="mt-4">
    <% @voice_notes.order(created_at: :desc).each do |voice_note| %>
      <%= render voice_note %>
    <% end %>
</div>