<% content_for :title, "Vocals" %>

<div class="w-full flex flex-col items-cente">
  <div class="w-full mx-auto" data-controller="audio-recorder">
    <%= render "form_recorder" %>
  </div>
</div>

<%= turbo_stream_from "voice_notes" %>

<div id="voice-notes-list" class="mt-4">
    <% @voice_notes.order(created_at: :desc).each do |voice_note| %>
      <%= render voice_note %>
    <% end %>
</div>