<h1>Le tue Registrazioni</h1>


<table>
  <thead>
    <tr>
      <th>Titolo</th>
      <th>Data e Ora</th>
      <th>Ascolta</th>
    </tr>
  </thead>
  <tbody>
    <% @voice_notes.each do |voice_note| %>
      <tr>
        <td><%= voice_note.title %></td>
        <td><%= voice_note.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
        <td>
          <% if voice_note.audio_file.attached? %>
            <audio controls>
              <source src="<%= url_for(voice_note.audio_file) %>" type="audio/webm">
              Il tuo browser non supporta l'elemento audio.
            </audio>
          <% else %>
            Nessun file audio.
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>