<%# locals: (appunto:) -%>
<%= link_to appunto_path(appunto), class: "pad-half border-radius fill-shade txt-undecorated flex gap-half align-center" do %>
  <%= icon_tag "note", size: "small", class: "txt-subtle" %>
  <div class="flex-1 overflow-hidden">
    <p class="txt-small overflow-ellipsis margin-none">
      <%= truncate(appunto.content.to_plain_text, length: 60) %>
    </p>
    <p class="txt-xx-small txt-subtle margin-none">
      Appunto · <%= time_ago_in_words(appunto.updated_at) %> fa
    </p>
  </div>
<% end %>
