@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-in_provincia,
.cell-dell_editore_in_provincia,
.cell-percentuale_editore_in_provincia,
.cell-differenza_media_nazionale,
.cell-dell_editore_in_italia,
.cell-percentuale_dell_in_italia,
.cell-dell_editore_in_regione,
.cell-percentuale_editore_in_regione,
.cell-nr_scuole,
.cell-nr_sezioni,
.cell-nr_adozioni,
.cell-percentuale_editore_in_italia,
.cell-dell_editore,
.cell-percentuale {
  @apply text-right;
}

/* Global slight fade */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(60px);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(130px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

/* Global but more fancy */
/* ::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
} */


@layer components {


  .youtubes {
    
    .hw-combobox__input {
      @apply sm:w-[35rem] rounded-full w-80;
    }
    .hw-combobox__handle {
      @apply right-3;
    }
    .hw-combobox__listbox {
      @apply rounded-2xl;
    }
    /* magnifying glass svg */
    --hw-handle-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20enable-background%3D%22new%200%200%2024%2024%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20focusable%3D%22false%22%20style%3D%22pointer-events%3A%20none%3B%20display%3A%20block%3B%20width%3A%20100%25%3B%20height%3A%20100%25%3B%22%3E%3Cpath%20d%3D%22m20.87%2020.17-5.59-5.59C16.35%2013.35%2017%2011.75%2017%2010c0-3.87-3.13-7-7-7s-7%203.13-7%207%203.13%207%207%207c1.75%200%203.35-.65%204.58-1.71l5.59%205.59.7-.71zM10%2016c-3.31%200-6-2.69-6-6s2.69-6%206-6%206%202.69%206%206-2.69%206-6%206z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");    
  }

  .cb-tailwind {
    .hw-combobox {
      @apply mx-auto max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all;
    }
  }

  .sidebar-item {
    @apply text-gray-200 flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold;
  }
  
  .sidebar-item:hover {
    @apply bg-gray-700 text-white;
  }

  .label {
    @apply block text-sm font-medium leading-6 text-gray-900;
  }

  .field {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6;
  }
  .btn {
    @apply flex flex-col items-center py-2 px-3 text-sm text-center font-semibold rounded-md transition duration-150 ease-in-out shadow-md cursor-pointer;
  }
  
  .btn-blue {
    @apply bg-blue-600 text-white;
  }

  .btn-blue:focus {
    @apply outline outline-2 outline-offset-2 outline-blue-600;
  }

  .btn-blue:active {
    @apply bg-blue-700;
  }

  .btn-blue:hover {
    @apply bg-blue-500;
  }

  .btn-green {
    @apply bg-green-600 text-white;
  }

  .btn-green:focus {
    @apply outline outline-2 outline-offset-2 outline-green-600;
  }

  .btn-green:active {
    @apply bg-green-700;
  }

  .btn-green:hover {
    @apply bg-green-500;
  }

  .btn-yellow {
    @apply bg-yellow-200 text-yellow-700;
  }

  .btn-yellow:focus {
    @apply outline outline-2 outline-offset-2;
  }

  .btn-yellow:active {
    @apply bg-yellow-300;
  }

  .btn-yellow:hover {
    @apply bg-yellow-300;
  }

  .btn-indigo {
    @apply bg-indigo-600 text-white;
  }

  .btn-indigo:focus {
    @apply outline outline-2 outline-offset-2 outline-indigo-600;
  }

  .btn-indigo:active {
    @apply bg-indigo-700;
  }

  .btn-indigo:hover {
    @apply bg-indigo-500;
  }

  .btn-purple {
    @apply bg-purple-600 text-white;
  }

  .btn-purple:focus {
    @apply outline outline-2 outline-offset-2 outline-purple-600;
  }

  .btn-purple:active {
    @apply bg-purple-700;
  }

  .btn-purple:hover {
    @apply bg-purple-500;
  }

  .btn-pink {
    @apply bg-pink-600 text-white;
  }

  .btn-pink:focus {
    @apply outline outline-2 outline-offset-2 outline-pink-600;
  }

  .btn-pink:active {
    @apply bg-pink-700;
  }

  .btn-pink:hover {
    @apply bg-pink-500;
  }

  .btn-gray {
    @apply bg-gray-400 text-white;
  }

  .btn-gray:focus {
    @apply outline outline-2 outline-offset-2 outline-gray-500;
  }

  .btn-gray:active {
    @apply bg-gray-400;
  }

  .btn-gray:hover {
    @apply bg-gray-500;
  }

  .btn-black {
    @apply bg-black text-white;
  }

  .btn-black:focus {
    @apply outline outline-2 outline-offset-2 outline-black;
  }

  .btn-black:active {
    @apply bg-black;
  }

  .btn-black:hover {
    @apply bg-gray-500;
  }

  .btn-white {
    @apply bg-white text-black;
  }

  .btn-white:focus {
    @apply outline outline-2 outline-offset-2;
  }

  .btn-white:active {
    @apply bg-gray-100;
  }

  .btn-white:hover {
    @apply bg-gray-200;
  }

  .btn-red {
    @apply bg-red-600 text-white;
  }

  .btn-red:focus {
    @apply outline outline-2 outline-offset-2 outline-red-600;
  }

  .btn-red:active {
    @apply bg-red-700;
  }

  .btn-red:hover {
    @apply bg-red-500;
  }

  .btn-outline {
    @apply bg-transparent border-2 border-solid border-current text-current;
  }

  .btn-outline-blue {
    @apply border-blue-600 text-blue-600;
  }


}



@import 'actiontext.css';