/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




 .turbo-progress-bar {
    background-color: rgb(67 56 202);
 }

 .back-to-top-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 1;
}

.back-to-top__button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.back-to-top-container--intersecting .back-to-top__button {
  opacity: 0;
  visibility: hidden;
}

.button {
  -webkit-appearance: none;
  background-color: rgba(255,255,255,0.85);
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid #555;
  font-size: 1rem;
}


.tx-combobox__dialog__wrapper {
  display: none;
  height: 100vh;
  inset-inline-start: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;

  &:has([open]) {
    display: flex;
  }
}

/* dialog:modal {
  max-width: 100vw;
} */


.tx-combobox__dialog {
  border: 0;
  font-size: var(--tx-dialog-font-size);
  height: auto;
  margin: 0;
  max-height: calc(var(--tx-visual-viewport-height) - var(--tx-dialog-top-offset));
  max-width: none;
  overflow: hidden;
  padding: var(--tx-dialog-padding);
  pointer-events: auto;
  position: absolute;
  top: var(--tx-dialog-top-offset);
  width: auto;

  &[open] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &::backdrop {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 50%, white 50%);
  }
}

.tx-combobox__dialog__label {
  align-self: var(--tx-dialog-label-alignment);
  color: var(--tx-dialog-label-color);
  font-size: var(--tx-dialog-label-size);
  padding: var(--tx-dialog-label-padding);
}

.tx-combobox__dialog__input {
  border: var(--tx-border-width--slim) solid var(--tx-border-color);
  border-radius: var(--tx-border-radius);
  font-size: inherit;
  height: var(--tx-dialog-input-height);
  line-height: var(--tx-dialog-input-height);
  padding: var(--tx-padding--slim) var(--tx-padding--thick);
  text-overflow: ellipsis;
  width: 90%;
}

.tx-combobox__dialog__listbox {
  margin: var(--tx-dialog-listbox-margin);
  overflow: auto;
  padding: 0;
  width: 100%;

  [role="option"] {
    border-radius: var(--tx-border-radius);
    padding: var(--tx-padding--thick);
  }
}


 

 
 