/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 /* Global slight fade */

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

.bulk-actions-checkbox.show {
  display: block !important;
}

trix-toolbar { display: none; }

.cell-in_provincia,
.cell-dell_editore_in_provincia,
.cell-percentuale_editore_in_provincia,
.cell-differenza_media_nazionale,
.cell-dell_editore_in_italia,
.cell-percentuale_dell_in_italia,
.cell-dell_editore_in_regione,
.cell-percentuale_editore_in_regione,
.cell-nr_scuole,
.cell-nr_sezioni,
.cell-nr_adozioni,
.cell-percentuale_editore_in_italia,
.cell-dell_editore,
.cell-percentuale,
.cell-sezioni,
.cell-fatturato,
.cell-fatturato_2024,
.cell-copie_x18,
.cell-copie_x18_2024,
.cell-provvigioni_20,
.cell-provvigioni_20_2024,
.cell-valore_adottato,
.cell-valore_adottato_2024 {
  text-align: right;
}

.cell-classe,
.cell-rank,
.cell-rank_2024,
.cell-diff_2024 {
  text-align: center;
}


 .turbo-progress-bar {
    background-color: rgb(67 56 202);
 }

 .back-to-top-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 1;
}

.back-to-top__button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.back-to-top-container--intersecting .back-to-top__button {
  opacity: 0;
  visibility: hidden;
}

.button {
  -webkit-appearance: none;
  background-color: rgba(255,255,255,0.85);
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid #555;
  font-size: 1rem;
}


.cb-tax {
  .hw-combobox__main__wrapper {
    background-color: white;
    width: 100%;
  }
  .hw-combobox__main__wrapper:focus-within {
    outline: none !important;
    border:1px solid black;
  }
  .hw-combobox__handle {
    right: 0.75rem;
  }
  .hw-combobox__listbox {
    border-radius: 0.375rem;
  }
  .hw-combobox__input {
    padding-top: 0.125rem; /* 2px */
    padding-bottom: 0.125rem; /* 2px */
  }
  .hw-combobox__label {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    color: rgb(55 65 81);
    font-weight: 500;
  }
  &.cb-font-size-sm {
    .hw-combobox__input {
      font-size: 0.875rem; /* 14px */
      line-height: 1.25rem; /* 20px */
    }
  }
}







