<% @page_title = "Edit your profile" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "profilo", user_personal_info_path(Current.user) %>
  </div>
<% end %>


<div class="panel shadow center" style="--panel-size: 45ch;">
  <%= render "form", personal_info: @personal_info %>
</div>
