<% @page_title = "Informazioni Personali" %>

<div class="profile-layout">
  <section class="panel shadow center" style="--panel-size: 55ch;">
    <strong class="divider divider--fade txt-large">Informazioni Personali</strong>
    <p class="txt-small txt-subtle">Inserisci i tuoi dati personali.</p>

    <%= render "form", personal_info: @personal_info %>
  </section>
</div>
