<div class="container pad-block">
  <div class="margin-block-end">
    <h1 class="txt-x-large font-weight-black">Aggiungi Informazioni Personali</h1>
    <p class="txt-small txt-subtle margin-block-start-half">Inserisci i tuoi dati personali.</p>
  </div>

  <%= render "form", personal_info: @personal_info %>
</div>
