<div class="container pad-block">
  <div class="flex align-center justify-space-between margin-block-end">
    <h1 class="txt-x-large font-weight-black">Informazioni Personali</h1>
    <%= link_to "Modifica", edit_user_personal_info_path(Current.user), class: "btn btn--primary" %>
  </div>

  <div id="personal_info">
    <%= render "users/personal_infos/show", personal_info: @personal_info %>
  </div>
</div>
