<%# locals: (fornitore:) -%>

<li>
  <%= link_to fornitore_path(fornitore), class: "btn btn--block flex justify-space-between align-center" do %>
    <span><%= fornitore.denominazione %></span>
    <span class="txt-subtle txt-small"><%= fornitore.partita_iva %></span>
  <% end %>
</li>
