<div>
  <h1 class="font-bold text-4xl">Fornitori#index</h1>
  <p>Find me in app/views/fornitori/index.html.erb</p>
  <img src="https://dbtitoli.giunti.it/media/images/98/9889d47083994d7bb282fe6ec8c6f39b.jpg?thumb=true" class="img-thumbnail" alt="Front">
  <a href="https://gi-elle-di.it/wp-content/uploads/2021/01/Progetto-senza-titolo-42.png"><img width="600" height="600" src="https://gi-elle-di.it/wp-content/uploads/2021/01/Progetto-senza-titolo-42-600x600.png.webp" class="wp-post-image" alt="Progetto senza titolo (42)" title="Progetto senza titolo (42)" data-caption="" data-src="https://gi-elle-di.it/wp-content/uploads/2021/01/Progetto-senza-titolo-42.png.webp" data-large_image="https://gi-elle-di.it/wp-content/uploads/2021/01/Progetto-senza-titolo-42.png" data-large_image_width="2000" data-large_image_height="2000" decoding="async"></a>


</div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none" >
      <%= link_to "<- indietro", :back, class: "btn" %>
    </div>  
