<div>
  <h1 class="font-bold text-4xl">Fornitori#index</h1>
  <p>Find me in app/views/fornitori/index.html.erb</p>
</div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none" >
      <%= link_to_previous_page("<- indietro") %>
    </div>  
