<div class="mx-auto md:w-2/3 w-full">

   <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900 sm:text-xl"> 
                Articoli duplicati
            </h1>
            <p>clicca su 'tieni' per mantenere la descrizione desiderata.</p>
        </div>
        
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none" >
             <%= link_to("<- indietro", :back, class:"btn") %>
        </div>   
    </div>

    <turbo-frame id="search_results">
        <div class="-mx-4 mt-8 width-full sm:mx-0">
            <ul>
                <% @duplicates.each do |key, values| %>

                    
                    <li>
                        <div >
                            <%= key %>
                        </div>

                        <% values.each do |duplicate| %>
                            <div class="flex width-full py-1 px-4 my-2">
                                <div class="flex-none pr-4">
                                    <%= duplicate.descrizione %>    
                                </div>
                                <div class="flex-1 w-32 float-right text-indigo-500 hover:text-indigo-900" >
                                    <%= link_to "tieni",  update_descrizione_path(duplicate.codice_articolo, descrizione: duplicate.descrizione) %>
                                </div>
                            </div>
                        <% end %>

                    </li>
                <% end %>
            </ul>
        </div>
    </turbo-frame>

</div>








