<%# locals: (tappa:) -%>

<div class="card__meta" id="<%= dom_id(tappa, :meta) %>">
  <span class="card__meta-text card__meta-text--updated overflow-ellipsis">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--assignees overflow-ellipsis">
    &nbsp;
  </span>

  <span class="card__meta-text card__meta-text--copie txt-align-end">
    <% if tappa.bolle_visione.any? %>
      <strong><%= pluralize(tappa.bolle_visione.size, "Bolla", "Bolle") %></strong>
    <% else %>
      &nbsp;
    <% end %>
  </span>

  <span class="card__meta-text card__meta-text--importo txt-align-end">
    <% libri_count = tappa.bolle_visione.joins(:bolla_visione_righe).count %>
    <% if libri_count > 0 %>
      <strong><%= pluralize(libri_count, "Libro", "Libri") %></strong>
    <% else %>
      &nbsp;
    <% end %>
  </span>
</div>
