<%# locals: (tappa:) -%>

<div id="<%= dom_id(tappa, :tags) %>" class="card__tags">
  <% if tappa.giri.present? %>
    <% tappa.giri.each do |giro| %>
      <div class="min-width overflow-ellipsis">
        <%= link_to giro_path(giro),
              class: "card__tag btn btn--plain min-width txt-uppercase fill-transparent" do %>
          <%= giro.titolo %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
