<%# locals: (tappa:) -%>

<div id="<%= dom_id(tappa, :tags) %>" class="card__tags">
  <% tappa.giri.each do |giro| %>
    <span class="card__tag txt-uppercase"
          style="border: 1px solid <%= giro.color %>; color: <%= giro.color %>; background: transparent; border-radius: var(--radius-small); padding: 0.1em 0.4em;">
      <%= giro.titolo %>
    </span>
  <% end %>
</div>
