<% @page_title = @persona.nome_completo %>
<% @header_class = "header--card" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <% if @persona.scuola.present? %>
      <%= back_link_to_url @persona.scuola.denominazione.capitalize, scuola_path(@persona.scuola) %>
    <% else %>
      <%= back_link_to_url "Persone", persone_path %>
    <% end %>
  </div>
<% end %>

<div class="full-width pad group">
  <%= render "persone/container", persona: @persona, appunti: @appunti %>
</div>
