<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Stats</h1>
    <%= link_to "New stat", new_stat_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

</div>

<%= turbo_frame_tag "search_results" do %>
	<div class="mt-8 flow-root sm:mx-0">
		<table class="min-w-full overflow-x-auto divide-y divide-gray-300">
			<%# <colgroup>
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">
				<col class="w-full sm:w-1/3">

			</colgroup> %>
			
			<thead class="border-b border-gray-300 text-gray-900 text-left">
				<tr>
					<th scope="col" class=""></th>
					<th scope="col" class="">descrizione</th>

					<th scope="col" class="hidden md:table-cell">raggruppa per</th>

          			<th scope="col" class="text-center">...</th>
          
				</tr>
			</thead>
			
			<tbody>
					<%=  render @stats %>
			</tbody>

			<tfoot>

			</tfoot>
		</table>
	</div>
<% end %>

