<% content_for :title, "Nuova Scuola" %>

<div class="container pad-block">
  <nav class="flex align-center gap-half txt-small txt-subtle margin-block-end">
    <%= link_to scuole_path, class: "txt-link" do %>
      Scuole
    <% end %>
    <%= icon_tag "chevron-right", size: "small" %>
    <span class="font-weight-bold">Nuova</span>
  </nav>

  <div class="margin-block-end">
    <h1 class="txt-x-large font-weight-black">Nuova Scuola</h1>
  </div>

  <div class="panel shadow pad">
    <%= render "form", scuola: @scuola %>
  </div>
</div>
