<% @page_title = "Nuova scuola" %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to "Scuole", scuole_path %>
  </div>

  <h1 class="header__title divider divider--fade full-width">
    <span class="overflow-ellipsis">Nuova scuola</span>
  </h1>
<% end %>

<article class="panel panel--wide shadow center txt-align-start">
  <%= render "form", scuola: @scuola %>
</article>
