<%# locals: (documento:) -%>

<button type="button" class="btn" data-action="documento-editor#enterEditMode">
  <%= icon_tag "pencil" %>
  Modifica
</button>

<% if %w[TD01 TD04 TD24].include?(documento.causale&.causale) %>
  <%= link_to "Esporta XML", esporta_xml_documento_path(documento, format: :xml), class: "btn" %>
<% end %>
