<%# locals: (documento:) -%>

<div class="gap"
  data-controller="dialog" data-dialog-modal-value="true" data-action="keydown.esc->dialog#close:stop">  
  <%# i bottoni nello stesso div per allineamento %>
  <button type="button" class="btn"
    data-controller="hotkey"
    data-action="documento-editor#enterEditMode keydown.e@document->hotkey#click">
    Modifica <kbd class="hide-on-touch">E</kbd>
  </button>

  <% if !documento.closed? %>
    <button type="button" class="btn"
      data-controller="hotkey"
      data-action="dialog#open keydown.g@document->hotkey#click">
      Gestisci <kbd class="hide-on-touch">G</kbd>
    </button>
    <%= render "documenti/container/gestione_dialog", documento: documento %>
  <% end %>
</div>