<!-- Back-To-Top di Jason Zimdars -->

<div class="back-to-top-container back-to-top-container--intersecting"
    data-controller="viewport-entrance-toggle"
    data-viewport-entrance-toggle-class="back-to-top-container--intersecting">
    <button class="back-to-top__button panel shadow cursor-pointer"
        style="padding: 0.75rem; border-radius: 9999px;"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">
        <%= icon_tag "arrow-up", style: "width: 1.5rem; height: 1.5rem;" %>
    </button>
</div>