<section class="tray tray--new-appunto">
  <button class="tray__toggle"
          data-controller="hotkey"
          data-action="keydown.n@document->hotkey#click"
          aria-label="Nuovo appunto rapido"
          onclick="Turbo.visit('<%= new_mobile_appunto_path %>')">
    <div class="tray__toggle-btn txt-uppercase btn btn--reversed txt-x-small center full-width">
      <%= icon_tag "add" %>
      <span class="tray__toggle-text">Nuovo <kbd class="hide-on-touch">N</kbd></span>
    </div>
  </button>
</section>
