<div id="sidebar-tax"
	tabindex="-1">

	<!-- begin sidebar/slideover -->
	<div id="sidebar-mobile">
		<div data-tax-sidebar-target="element" class="sidebar-overlay"
			data-action="keydown.esc->tax-sidebar#toggle click->tax-sidebar#toggle">
			<div class="fixed inset-0">
				<div class="absolute inset-0 bg-gray-600 opacity-75"></div>
			</div>

			<div class="sidebar-panel" data-action="click->tax-sidebar#stopPropagation">

				<div class="absolute top-0 right-0 -mr-14 p-1">
					<button
						data-action="tax-sidebar#toggle"
						class="flex items-center justify-center h-12 w-12 rounded-full focus:outline-none focus:bg-gray-600" aria-label="Close sidebar">
						<svg class="h-6 w-6 text-white" stroke="currentColor" fill="none" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
						</svg>
					</button>
				</div>

				<div class="flex flex-col h-full">
					<div class="flex-1 overflow-y-auto p-1">
						<nav class="space-y-1">
							<%= render partial: "layouts/sidebar", locals: { hide_exit: true } %>
						</nav>
					</div>

					<% if current_user %>
						<div class="p-4">
							<%= button_to destroy_user_session_path, method: :delete,
									class: "sidebar-item w-full text-left border-0 bg-transparent" do %>
								<%= inline_svg_tag('icon-exit.svg') %>
								Esci
							<% end %>
						</div>
					<% end %>
				</div>

			</div>

			<div class="flex-shrink-0 w-14">
				<!-- Dummy element to force sidebar to shrink to fit close icon -->
			</div>
		</div>
	</div>
	<!-- end sidebar/slideover -->

</div>
