<!--	 Sidebar component, swap this element with another sidebar if you like     -->
<div class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4">
	
	<div class="flex h-16 shrink-0 items-center">
		<img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="ScagnoZZ">
	</div>
	
	<nav class="flex flex-1 flex-col">
		<ul role="list" class="flex flex-1 flex-col gap-y-7">
			<li>
				<ul role="list" class="-mx-2 space-y-1">
				
					<%= render "layouts/sidebar_items" %>
			
				</ul>
			</li>
			<% if current_user && current_user.admin? %>
				<li>
					<div class="text-xs font-semibold leading-6 text-gray-200">
						Utility
					</div>
					<ul role="list" class="-mx-2 mt-2 space-y-1">
						<li>
							<a href="https://heroicons.com" target="_blank" class="sidebar-item">
								<span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-400 bg-gray-500 text-[0.625rem] font-medium text-white">H</span>
								<span class="truncate">Heroicons</span>
							</a>
						</li>
						<li>
							<a href="https://tailwindcss.com/docs/installation" target="_blank" class="sidebar-item">
								<span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-400 bg-gray-500 text-[0.625rem] font-medium text-white">T</span>
								<span class="truncate">Tailwind Docs</span>
							</a>
						</li>
						<li>
							<a href="https://tailwindui.com/components" target="_blank" class="sidebar-item">
								<span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-400 bg-gray-500 text-[0.625rem] font-medium text-white">W</span>
								<span class="truncate">Tailwind Ui</span>
							</a>
						</li>
						<li>
							<a href="/avo" target="_blank" class="sidebar-item">
								<span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-400 bg-gray-500 text-[0.625rem] font-medium text-white">Av</span>
								<span class="truncate">AVO</span>
							</a>
						</li>
						<li>
							<a href="/blazer" target="_blank" class="sidebar-item">
								<span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-400 bg-gray-500 text-[0.625rem] font-medium text-white">Bl</span>
								<span class="truncate">Blazer</span>
							</a>
						</li>
						<li>
							<a href="/sidekiq" target="_blank" class="sidebar-item">
								<span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-400 bg-gray-500 text-[0.625rem] font-medium text-white">Sk</span>
								<span class="truncate">Sidekiq</span>
							</a>
						</li>
						<li>
							<a href="/rails/performance" target="_blank" class="sidebar-item">
								<span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-400 bg-gray-500 text-[0.625rem] font-medium text-white">Rp</span>
								<span class="truncate">Rails Performance</span>
							</a>
						</li>
					</ul>
				</li>
			<% end %>

			<% if current_user%>
				<li class="mt-auto">
					<%= link_to destroy_user_session_path, data: { turbo_method: :delete },
							class: "sidebar-item" do %>
						<%= inline_svg_tag('icon-exit.svg') %>
						Esci                        
					<% end %>
				</li>
			<% end %>
		</ul>
	</nav>
</div>


